/*
Cores:
Background dos posts = #fffafa
Cor da data = #008080
*/

h1.post-title {
    font-family: 'Montserrat', 'Arial', 'Open Sans';
}

p.post-date {
    font-family: 'Roboto', 'Arial', 'Open Sans';
    font-weight: bold;
    color: #008080;
}

p.post-content {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

div.post-container {
    background-color: #fffafa;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.posts {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 90%;
}