/*
    Cores utilizadas:
    ​#f1c40f -> Amarelo
    #2c3e50 -> Azul
    #e74c3c -> Vermelho;
*/

body {
    background-color: #2c3e50;
}

h2 {
    color: #000000;
    border: 2px solid;
    background-color: #f1c40f;
}

h3 {
    color: #f1c40f;
}

li {
    color: #ffffff;
}

.aulas-astronomia {
    color: #e74c3c;
}